/*Core styles*/
body {
    font-family: 'Roboto', sans-serif;
}

.main-header__brand {
    display: inline-block;
    vertical-align: middle;
}
.to_uppercase {
    text-transform: uppercase;
}
.clearfix{
    clear: both;
}
.section-subtitle{
    letter-spacing: 2px;
    font-weight: 500;
    margin-bottom: 10px;
    color: #797979;
    text-transform: uppercase;
}
.section-title{
    font-size: 42px;
    font-weight: 700;
    color:#05364d;
    letter-spacing: 2px;
    margin-bottom: 20px;
    margin-top: 20px;
}
button{
    margin-top: 30px;
    border: none;
    background-color: #1c44e4;
    color: #FFFFFF;
    font-weight: 500;
    font-size: 14px;
    padding: 20px 40px;
    cursor: pointer;
    border-radius: 5px;
}
.blur_line{
    display: inline-block;
    margin-left: 5px;
    width: 80px;
    height: 4px;
    background-color: rgba(237 , 35 , 159 , 0.6);
    filter: blur(5px);
    border-radius: 5px;
}
/*Header styles*/
.main-header__brand img {
    width: 64px;
}
.main-header {
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
   z-index: 1;
    
}
.main-navigation {
    display: inline-block;
    vertical-align: middle;
}
.container {
   width: 1140px;
   margin: 0 auto;
}
.main-navigation__item {
    display: inline-block;
    padding: 10px;
}

.main-navigation__item a {
    color: #05364d;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 500;
}

.main-navigation__item a:hover {
    color: #f26d6d;
}

.main-navigation__item.active a {
    color: #f26d6d;
}

/*Main section*/
.main-section {
    padding: 100px 30px;
}
.main-section > div{
    width: 50%;
    float: left;
}
.main-section img{
    width: 100%;
    height: 100%;
}
.main-section__socialnetworks{
    margin-top: 20px;
}
.main-section__socialnetworks a{
    display: inline-block;
    margin-right: 20px;
}
.main-section__socialnetworks i:hover{
    color: #f26d6d;
}
.main-section__welcome{
    font-size: 16px;
    font-weight: 400;
    color:#797979;
    margin-bottom: 20px;
}
.main-section__introduction{
    font-size: 60px;
    font-weight: 500;
    color:#05364d;
    letter-spacing: 2px;
    margin-bottom: 20px;
    margin-top: 20px;
}
.main-section__position{
    font-size: 16px;
    font-weight: 400;
    color:#797979;
    margin-bottom: 20px;
}
/*statistics section*/
.statistics{
    padding-top:100px ;
}
.statistics__item{
    display: inline-block;
    background-color: #f8faff;
    text-align: center;
    padding: 5px 10px;
    margin-right: 20px;
    width: 150px;
}
.statistics__number{
    font-size: 27px;
    font-weight: 5000;
    color:#1C44E4;
    margin-bottom: 10px;
}
.statistics__title{
    font-size:16px;
    font-weight: 300;

}
/*About me section*/
.about-me{
    padding-top: 100px 0;
}
.about-me >div{
    width: 50%;
    float: left;
}


.about-me__descrtiption{
    font-size: 16px;
    font-weight: 400;
    color:#797979;
    margin-bottom: 20px;
    line-height: 27px
}

/*Services section*/
.services{
    padding-top: 100px;
}

.service-card{
    display: inline-block;
    width: 30%;
    padding: 60px 30px;
    background-color: #f8faff;
    margin-right: 3%;
    text-align: center;
    box-sizing: border-box;
}
.service-card__title{
    font-size: 24px;
    font-weight: 500;
    color:#05364d;
    margin-bottom: 20px;
    text-transform: uppercase;
}
.service-card__description{
    font-size: 16px;
    font-weight: 400;
    color:#797979;
    margin-bottom: 20px;
    line-height: 27px
}
.service-card__link{
    color: white;
    text-decoration: none;
    font-weight: 500;
    font-size: 14px;
    text-transform: uppercase;
}
.service-card__icon{
    width: 150px;
    height: 100px;
}
.service-card:hover{
    background-color: #1c44e4;
}
.service-card:hover .service-card__title, .service-card:hover .service-card__description, .service-card:hover{
    color: #FFFFFF;
}


/*clients section*/
.clients{
    padding-top: 100px;
}
.client-item > div{
    width: 50%;
    float: left;
    box-sizing: border-box;
}
.client-item__image img{
    width: 50%;
}
.client-item__info{
    padding-top: 50px;
    padding-left: 50px;
}
.client-item__name{
    font-size: 20px;
    margin-bottom: 20px;
}
.client-item__position{
    font-size: 16px;
    color: #5b6d75;
    font-weight: 300;
}
.client-item__rewiev{
    font-size: 16px;
    color: #5b6d75;
    font-weight: 300;
    line-height: 27px;
}
.client-item__rate{
    color: yellow;
}

/*Portfolio section*/
.portfolio{
    padding-top: 100px 0;
}
.portfolio-items{
    margin-top: 50px;
    position: relative;
}
.portfolio-item{
    position: relative;
    display: inline-block;
    cursor: pointer;
    width: 50%;
    padding:10px;
    box-sizing: border-box;
}
.portfolio-item__owerlay{
    position:absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(19, 69, 230, 0.9);
    visibility: hidden;
}
.portfolio-item__info{
    position: absolute;
    bottom: 44px;
    left: 80px;
    color: #FFFFFF;
    visibility: hidden;
}
.portfolio-item:hover .portfolio-item__owerlay{
    visibility: visible;
    top: 20px;
    left: 20px;
    cursor: pointer;
   
}
.portfolio-item__image img{
    width: 50%;
}
.portfolio-item-1{
    padding-left: 0;
}

.portfolio-item-2{
    position: absolute;
    top: 0;
    top: 0;
    z-index: 1;

}
.portfolio-filters{
    list-style: none;
    padding-left: 0;
    margin-top: 50px;
}
.portfolio-filters li{
    display: inline-block;
    padding-left:0;
    margin-right: 20px;
    font-size: 16px;
}
.portfolio-filters li.active{
    color: red
}
.portfolio-filters li:hover{
    cursor: pointer;
}
.portfolio-item-3{
    position: absolute;
    right: 0;
    top: 200px;
    
}
.portfolio-item:hover .portfolio-item__info{
    visibility: visible;
    bottom: 24px;
    left: 60px;
}